{% extends 'my_shop/base.html' %}
{% load static %}
{% block clients %}
<div class="clients_section layout_padding">
        <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="client_text">what is says our clients</h1>
                    <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                    <div class="clients_section2 layout_padding">
                    <div class="client_1">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    <div class="client_2">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{% static 'images/img-8.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <h1 class="client_text">what is says our clients</h1>
                    <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                    <div class="clients_section2 layout_padding">
                    <div class="client_1">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    <div class="client_2">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{% static 'images/img-8.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <h1 class="client_text">what is says our clients</h1>
                    <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                    <div class="clients_section2 layout_padding">
                    <div class="client_1">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    <div class="client_2">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{%static 'images/img-8.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <h1 class="client_text">what is says our clients</h1>
                    <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                    <div class="clients_section2 layout_padding">
                    <div class="client_1">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    <div class="client_2">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image_7"><img src="{%static 'images/img-8.png' %}"></div>
                                <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                            </div>
                            <div class="col-sm-9">
                                <h1 class="loksans_text">loksans</h1>
                                <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
{% endblock %}