{% extends 'my_shop/base.html' %}
{% load static %}
{% load static %}
{% block projects %}
<div class="projects_section layout_padding">
    <div class="container">
    <h1 class="our_text">Our projects</h1>
    <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="projects_section2">
                <div class="container_main2">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-4.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-5.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-6.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="projects_section2">
                <div class="container_main1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-4.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-5.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-6.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="projects_section2">
                <div class="container_main1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-4.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-5.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container_main1">
                            <img src="{% static 'images/img-6.png' %}" alt="Avatar" class="image" style="width:100%">
                            <h1 class="modern_text">Modern home designe</h1>
                            <div class="middle">
                                <div class="text">VIEW MORE</div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        </a>
    </div>
    </div>
</div>
{% endblock %}